.services_con {
  height: 600px;
  background-color: #fff;
  text-align: center;
  overflow: hidden;

  & .services_title {
    margin-top: 60px;
    font-size: 32px;
    font-weight: bold;
  }

  & .services_list {
    margin-top: 110px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    & .services_items {
      width: 250px;
      margin: 0 50px;
      padding: 20px;
      background-color: #f9f9f9;
      border-radius: 10px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      transition: transform 0.3s ease, box-shadow 0.3s ease;

      &.services_items:hover {
        transform: translateY(-10px);
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
      }

      & svg {
        width: 80px;
        height: 80px;
        color: #0085ff;
      }

      & h4 {
        counter-reset: #0085ff;
        font-size: 24px;
        font-weight: bold;
        margin: 25px 0;
      }

      & p {
        font-size: 16px;
        color: #666;
        line-height: 1.2;
        text-align: left; 
      }
    }
  }
}

@media screen and (max-width: 480px) {
  .services_con {
    height: auto;
  }

  & .services_list {
    flex-direction: column;
    margin: 50px 0;

    & .services_items {
      width: 100%;
      margin: 20px 0;
      padding: 20px;
    }
  }
}
